<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- <canvas id="myCanvas"></canvas>
    <script src="setup.js"></script> -->
    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/panolens.min.js') }}"></script>  
    <script>

        const panorama = new PANOLENS.ImagePanorama('static/dataset/916/l_r_equirectangular_916_59ce0b0c42dd3.jpeg');
        const viewer = new PANOLENS.Viewer();
        viewer.add( panorama );
        
    </script>

</body>