<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/panolens.min.js') }}"></script>
</head>

<body>
    <!-- <canvas id="myCanvas"></canvas>
    <script src="setup.js"></script> -->
    <div class="input_container" id="container">
        <input type="text" name="fname" id="inputID">
        <img src>
    </div>

    <button type="button" id="generate_text">
        <img src="static/right-arrow.png" width="30px" height="30px">
    </button>

    <p id="description"></p>

    <button type="button" id="next">
        <img src="static/right-arrow.png" width="30px" height="30px">
    </button>

    
    <button type="button" id="previous">
        <img src="static/right-arrow.png" width="30px" height="30px">
    </button>

    
    <button type="button" id="tripode" ">
        <img src="static/right-arrow.png" width="30px" height="30px">
    </button>


    <script src="static/main.js"></script>


</body>