<html>
<head>

    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
</head>

<body style="margin: 0;">

    <div style="margin: auto;">
        <canvas id="myCanvas" height="1024px" width="1024px" style="height: 90vh;"></canvas>
    </div>

    <script>
        const d = new DrawTool('myCanvas');
        d.background("green");
        var r = null;
        var myImageData = null;

        fetch('static/bottom.png')
        .then(res => res.blob())
        .then(res => draw_to_canvas(res))
        .catch(err => console.log(err))

        function draw_to_canvas(blob) {
            r = blob;
            var url = URL.createObjectURL(blob);
            var img = new Image();
            img.onload = function() {                    
                URL.revokeObjectURL(this.src);             
                d.ctx.drawImage(this, 0, 0);
                myImageData = d.ctx.getImageData(0, 0, d.width, d.height);
            };

            img.src = url;   

            console.log('data drawed')
        }

        d.mouseX = 0;
        d.mouseY = 0;

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: (evt.clientX - rect.left) / (rect.right - rect.left) * canvas.width,
                y: (evt.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height
            };
        }

        
        var mouse_down = false;

        onmousemove = (e) => {
            let data = getMousePos(d.canv, e);
            d.mouseX = data.x;
            d.mouseY = data.y;
            if (!mouse_down) update();
            d.circle(d.mouseX, d.mouseY, 10, {color: 'white'});
        }
        


        onmousedown = (e) => {
            mouse_down = true;
        }

        onmouseup = (e) => {
            mouse_down = false;
            store_current_frame();
        }

        function store_current_frame() {
            myImageData = d.ctx.getImageData(0, 0, d.width, d.height);
        }

        function update () {
            if (myImageData !== null) d.ctx.putImageData(myImageData, 0, 0);
        }


</script>


</body>

</html>