* { margin:0; padding:0; } 

html, body { width:100%; height:100%; } 


input {
    width: 50%;

}

.input_container {
    padding-top: 10%;
    text-align: center;
}

#generate_text {
    position: absolute;
    left: 2vw;
    top: 2vh;
    z-index: 3;
    display: none;
    cursor: pointer;
    background:none;
    border: none;

}

#description {
    position: absolute;
    left: 2vw;
    top: 2vh;
    z-index: 3;
    display: none;
    background: white;
    border: none;
    max-width: 15rem;
    padding: 7px;
}

#next {
    position: absolute;
    left: 95vw;
    top: 45vh;
    z-index: 3;
    display: none;
    cursor: pointer;
    background:none;
    border: none;

}

#previous {
    position: absolute;
    left: 2vw;
    top: 45vh;
    z-index: 3;
    display: none;
    cursor: pointer;
    background:none;
    border: none;
    transform: scaleX(-1);
}

#tripode {
    position: absolute;
    left: 95vw;
    top: 88vh;
    z-index: 3;
    display: none;
    cursor: pointer;
    background:none;
    border: none;
}

